body {
    font-family: Arial, sans-serif;
    background: brown;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: crimson;
    margin-bottom: 20px;
    border: 5px solid beige;
    padding: 80px 100px;
    background-color: beige;
    text-align: center;
    border-radius: 5px;
}

.soal {
    background: beige;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.soal label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: crimson;
}

input[type="radio"] {
    margin: 6px 0;
}

button {
    margin-top: 20px;
    padding: 20px 50px;
    border: none;
    background: cyan;
    color: beige;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: yellow;
}

#hasil {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    height: auto;
}

#ulang {
    background: red;
}

#ulang:hover {
    background: green;
}

#rno1, #rno2, #rno3, #rno4, #rno5 {
    margin-top: 5px;
    font-weight: bold;
}

